[2016-06-26 01:45] zachamo opened #227 "Can't send from imported testnet account, no 'new' button and getting "Not Allowed" from contacts list"
I setup a couple contacts with NEM addresses, but when I click them, it briefly shows a page to send XEM, but then quickly pops out of it with the notification "Not Allowed".

One contact has one of my addresses on it (same address as is used by one of my accounts), the other has an address that is not linked to one of my accounts -- both demonstrate the same issue.

I do NOT experience this issue

[2016-06-26 01:50] zachamo opened #228 "Should be able to delete account from the dashboard, not just account list"
Rather than only allowing account deletion from the account list, deletion should be an option in the More ... list.

[2016-06-26 01:53] zachamo opened #229 "Should be able to choose sender account(s) from New Transaction screeen"
From a usability perspective, I may want to change the account I'm sending from on this page rather than having to go all the way back to the account list, choose the other account, and restart the transaction.

[2016-06-26 01:57] zachamo opened #230 "TX recipients & Multisig cosigners should auto-predict from Contacts with NEM addresses"
When I go to enter a recipient for a transaction or a cosigner for multisig, it will auto-predict NEM accounts (name / address) that I have in my app (i.e. MY accounts), but won't auto-predict my contact's names / adresses.. The whole point of having contacts is to have names associated to the addresses, so they should be used throughout the app. Contacts should be used for auto-prediction in mult

[2016-06-26 02:04] zachamo commented on #230
Moto X 2nd Gen
Android 6.0
NEM demo release v1.0.49.b3200

[2016-06-26 02:05] zachamo commented on #223
QR scanner worked fine on my phone

Moto X 2nd Gen
Android 6.0
NEM demo release v1.0.49.b3200

[2016-06-26 02:15] zachamo commented on #227
Also - when I try to setup a multisig from this account, I get "multisig account cannot manage cosigners directly". No issues when using an account created in the app - just the imported testnet one.

[2016-06-26 02:47] zachamo commented on #230
Ok... So they do appear. They were hidden because the same addresses existed in my accounts list. Contacts with the same address as your account t are hidden, which is okay.

[2016-06-26 02:47] #230 closed

[2016-06-26 02:52] zachamo opened #231 "No fee info when sending in response to transaction from dashboard"
If I click a Msg or transaction from my dashboard,  it brings up a chat style view, which I love.  From here I can send a message or xem, but there is no warning on the fees!! I send a message and get charged fees without any disclaimer or heads up. Not transparent. There should be a fee calculator in there or a prompt before sending to accept the fees.

[2016-06-26 02:59] zachamo commented on #227
Okay, got it. Someone made this a multisig acct.

[2016-06-26 02:59] #227 closed

[2016-06-26 03:02] zachamo opened #232 "Multisig acct should have an indicator"
When an account is a multisig acct, it should have some sort of indicator in the account list or dashboard.. Something that shows that you can't send from it.. Otherwise it isn't clear why It won't send from the address book / setup a multisig acct.

[2016-06-27 05:32] victoru commented on #223
I'm also experiencing this issue.
I'm using the barcode scanner from https://github.com/zxing/zxing.

Sony Xperia Z5 Compact
Android 6.0.1
 NEM v1.0.49.b3200 BETA

[2016-06-30 23:13] MatCAlves opened #233 "Password can't be changed"
Hello my New Economy Movement mates. This is my first issue in Github and I ask to you to help me if I am doing something wrong. So, lets get started. I am testing the app around before start to "play" with some TestXEM, then I have none wallet set yet.

It is not possible to change the app login password, when I try to do that all seems to be done, but if I need to re-login to the app for some re

[2016-07-06 21:06] fyahfox commented on #233
I cannot reproduce this bug.
Did you type the password correctly 100% sure?

Since this is a pretty important problem, @am4n0w4r could you please comment?

[2016-07-06 21:08] fyahfox commented on #232
I agree!

[2016-07-06 21:09] fyahfox commented on #231
Well, at least it should be possible to turn that confirmation on in the options somewhere.

[2016-07-06 21:09] fyahfox commented on #229
Difficult UI question. Any idea for a good solution?

[2016-07-06 21:11] fyahfox commented on #228
Hm, I don't really miss it, but I guess it won't harm.

[2016-07-06 21:12] fyahfox commented on #226
When you delete an account, you have the chance to undo it immediately. I think that is good enough.

[2016-07-06 21:14] fyahfox commented on #225
Good catch. That is a pretty serious bug @am4n0w4r. Phone contacts could be destroyed that way. Please fix. Non-NEM contacts should not be editable by the NEM app at all imo.

[2016-07-06 21:15] fyahfox commented on #224
Please discuss in here: https://github.com/NemProject/NEMAndroidApp/issues/21

[2016-07-06 21:15] #224 closed

[2016-07-06 21:16] fyahfox commented on #223
@am4n0w4r Please look into it. I heard this from several people now.

[2016-07-06 21:18] fyahfox commented on #222
No problems with the symbol on my Honor 5x, Android 5.1.1.

@am4n0w4r any idea why this happens on some phones?

[2016-07-06 21:18] fyahfox commented on #222
https://github.com/NemProject/NEMAndroidApp/issues/194

[2016-07-06 21:18] #222 closed

[2016-07-06 21:19] fyahfox commented on #194
@am4n0w4r ?

[2016-07-06 21:20] fyahfox commented on #220
@BloodyRookie This is because there is no solution for encryption with multisig accounts, right? I don't fully remember the details, but we talked about that before.

[2016-07-06 21:21] fyahfox commented on #219
absolutely, yes. @am4n0w4r please fix, should be quick ;)

[2016-07-06 21:22] fyahfox commented on #218
So it is definitely not a missing translation but there is no string for it?

[2016-07-06 21:23] fyahfox commented on #217
Already fixed.

[2016-07-06 21:24] fyahfox commented on #216
Hm, it is definitely not a good solution like it is, but I would still like to see more ideas until we try a fix. This is a difficult UI problem. Not much real estate on phones... :/

[2016-07-06 21:26] fyahfox commented on #215
Horrible. I didn't even know you can drag the green bar up. @am4n0w4r why is this?

[2016-07-06 21:27] fyahfox commented on #214
I am a bit shocked this is still not fixed. @am4n0w4r @kmiliak please comment.

[2016-07-06 21:28] fyahfox commented on #211
Yes, we should have it somewhere in the options, I agree.

[2016-07-06 21:29] zachamo commented on #233
I also cannot reproduce this -- password change works fine for me.

[2016-07-06 21:35] zachamo commented on #229
Really easy -- just add a From field at the top! Default this with the current account, but allow the user to tap it.. When the field is tapped, provide a pick list of my accounts in the app (maybe some multisig sender eligibility checks)

Right now,I can't even see what account I'm sending from on the send page! I have to back out just to see which account I'm in.. Sure, I should know, but maybe

[2016-07-06 21:40] zachamo commented on #231
I think this is a must fix.. If someone gets to thinking this is a messaging app, then after a bunch of long messages realizes that they just spent a bunch of NEM to send those, they'll be put off.. There needs to at least be some indication that messages cost NEM. I know it's braindead simple to us, but we know what GitHub is, ideally an end user shouldn't need much prerequisite knowledge.

[2016-07-06 21:40] zachamo commented on #228
True enough - a low priority for sure, unless you add and delete accounts a lot.

[2016-07-06 21:48] zachamo commented on #21
I fully agree with Fyahfox on the need to have a totally separate set of contacts.. If anything, there should be an option to add a NEM contact to your main address book (i.e. when editing contacts, a button "Add to Device Contacts", or a setting where you can default synchronization across the two.. I think it should be assumed that they are not synchronized. You can default synchronization in 10

[2016-07-07 10:35] MatCAlves commented on #233
That bug only happened in the past, when I didn't have imported a testnet adress yet. Just after I did that, I was able to change the password. And I didn't do any reinstalling process until now.

[2016-07-07 20:59] fiazk commented on #218
@fyahfox that's correct

[2016-07-07 21:02] fiazk commented on #218
@fyahfox the string fee is there (line 194 and 215 loc. file) however, it seems these are other "fee" strings

[2016-07-07 21:11] fiazk commented on #216
@fyahfox do you find the "Accounts" string correct to be right next to amount and it's meaning. I.e. "Send" it's a action, I know what will happen if I press that button but with "accounts" I don't I think it should be at least something like "Switch Acc" or "Select Acc"

[2016-07-08 17:19] Dorawex commented on #191
sorry for my delay...
yes now it is working perfectly
good job

[2016-07-11 09:16] kmiliak commented on #214
@fyahfox Unfortunately we hadn't opportunities to work on Android version last week, we worked on IOS build. Android is going to release new build this week.

[2016-07-12 20:02] fyahfox commented on #233
So when you delete all your accounts, it happens again?

[2016-07-12 20:04] fyahfox commented on #229
And do you think this won't confuse people with multisig accounts where we have that dropdown menu for accounts already?

[2016-07-12 20:05] fyahfox commented on #231
I really can't believe somebody will install the app, buy XEM, and then not know that messages cost a fee^^

[2016-07-12 20:11] fyahfox commented on #216
No, I don't like the current solution. But we need a good idea before we implement a fix.
I personally don't have one till now.

[2016-07-12 20:14] #191 closed

[2016-07-13 22:34] MatCAlves commented on #233
Correct. I am now without any account, I tried to set a new password again and it didn't work. I reinstalled the app and cleared its data and cache, no success. It looks like a light bug since the app needs that the user have no accounts configured, thus it happens. Anyway, that is still dangerous.

[2016-07-14 08:45] am4n0w4r commented on #190
This is not an issue with long server response, the problem is that server returns transactions without last transaction attached (it may still be processed when we're doing a reload). Ideally this should work using server push notifications, i.e. when new transaction arrives, server sends a message to clients so they can update UI. What we can do now is increase a delay before first update and tr

[2016-07-14 11:15] kmiliak commented on #194
@fyahfox this symbol could be shown on other phones, because some phones can support this font.
We can do research on fonts, if we can use other just for this field.

[2016-07-14 11:57] am4n0w4r commented on #219
Fixed in 1.0.50;

[2016-07-14 12:52] am4n0w4r commented on #205
Removed in 0.1.50;

[2016-07-14 13:15] am4n0w4r commented on #218
Fixed, there was a hardcoded string in the code. Localization files updated too;

[2016-07-14 13:26] am4n0w4r commented on #225
Fixed, now contacts can be editable only in edit mode.
Editing on non-NEM contacts is implemented intentionally in case user doesn't want to create new contact, just add address to existing. If this needs to be removed than, I guess, we can remove non-NEM contacts from address book view at all beacuse there is no point to show them.

[2016-07-14 13:28] am4n0w4r commented on #215
Fixed in 0.1.50; Never even thought that it could be dragged...

[2016-07-14 13:39] am4n0w4r commented on #210
If I got it right, it's a default android snackbar and you can always remove it from screen by swiping to the right or press Undo

[2016-07-14 13:49] am4n0w4r commented on #206
This is a strange bug and not reproducible. Sharing is done via standard system way so all buttons should work and we have no control over it after user presses "Share" button, so there's nothing to fix from our side. Maybe gmail doesn't allow back if not configured, it can be changed only by Google. @martismartis you can always restart app by removing it from recent, or force closing it. I don't

[2016-07-14 13:52] am4n0w4r commented on #190
Added two more frequent updates after sending, in 1.0.50;

[2016-07-14 13:55] am4n0w4r commented on #199
Fixed in 1.0.50;

[2016-07-14 13:56] am4n0w4r commented on #200
Fixed in 1.0.50;

[2016-07-14 14:21] am4n0w4r commented on #214
I remember we discussed this earlier but don't remember where, somewhere in keyboard issues. The point is - every language has it's own common separator people are used to, like "," and it can be confusing for them to have different separator. It is not something we randomly choose, the separators for every language is taken from locale settings. Technically this is not difficult to set "." for ev

[2016-07-14 14:46] am4n0w4r commented on #223
Duplicate of #209

[2016-07-14 14:56] am4n0w4r commented on #194
Fixed in 1.0.50, please test;

[2016-07-14 15:18] am4n0w4r commented on #209
There were bugs in google services, according to documentation they are fixed in new services version. I updated services versions in 1.0.50, so please reinstall application. Dependencies should be downloaded automatically at installation but according to google docs,

 so this message can be showed again for some users at first start.

[2016-07-14 15:25] frankenzipfel commented on #209
Lets test it...

where can i download the app again?

[2016-07-14 15:27] am4n0w4r commented on #170
I investigated this issue more and found out that swipe is conflicting with message copying, the message label intercepts touch events so they don't pass to swipe detection mechanism. I think I can fix this but not 100% sure, and it will take some time to do that right. Do you agree with this solution? Please let me know so I can manage everything with @kmiliak

[2016-07-14 15:31] kmiliak commented on #209
@frankenzipfel I'm uploading it to Trello

[2016-07-14 15:35] frankenzipfel commented on #209
thx ... and give me the link please

[2016-07-14 15:35] kmiliak commented on #209
@frankenzipfel here is the link with latest build https://drive.google.com/file/d/0B-3myDNfWMs2TUNTN3RDRlp4SmM/view?usp=sharing

[2016-07-14 15:45] frankenzipfel commented on #209
nope ...

I tried to scan this QR from jabo38:
https://forum.nem.io/uploads/default/optimized/1X/af24a82b0266a3e44fa1752fcb9857468d054797_1_500x500.jpg

With "QR Code Reader" App from play store ... the QR get scanned

[2016-07-14 18:05] fyahfox commented on #233
Yes, that is not an acceptable bug, I agree. Thanks!

[2016-07-14 18:07] fyahfox commented on #190
works for me! thx

[2016-07-14 18:07] #190 closed

[2016-07-14 18:09] fyahfox commented on #194
so how did you fix it?

@nemster can you confirm this fixed?

[2016-07-14 18:10] #219 closed

[2016-07-14 18:10] #205 closed

[2016-07-14 18:14] fyahfox commented on #225
Thx for the fix.

I'll leave this issue open, because I need to think about the other part.

[2016-07-14 18:15] #215 closed

[2016-07-14 18:17] fyahfox commented on #210
So you are saying the scrolling could only be enabled by a hack?

[2016-07-14 18:17] #206 closed

[2016-07-14 18:28] fyahfox commented on #214
Current Android localization file looks like this: http://pastebin.com/3XuUv3qW

Where can I set the decimal separator? Did I miss an update from you for the translation tables?

[2016-07-14 18:31] fyahfox commented on #223
oops sorry^^

[2016-07-14 18:31] #223 closed

[2016-07-14 18:32] fyahfox commented on #209
And you did read this "so this message can be showed again for some users at first start" and tried a second time?

[2016-07-15 07:22] frankenzipfel commented on #209
No, that was not displayed ...

I deinstalled the app and installed b3245 again. Android asked me about the allowed access/functions (rights).

I was asked for a new password and have created a new account.

After this I scanned jabos QR again ...without succes.

Notice/might help: While scanning (in nem) the display is much brighter than in other scanner apps ... zoom is working

[2016-07-15 07:30] frankenzipfel commented on #209
Testnet 22 is working ... it is able to scan and the app asked me for importpassword

https://forum.nem.io/t/nem-mobile-app-open-beta-and-10-000-xem-bug-bounty/1825

[2016-07-15 07:30] frankenzipfel commented on #209
where can i find more QRs ?

[2016-07-15 10:14] am4n0w4r commented on #233
Fixed in 1.0.51

[2016-07-15 14:21] am4n0w4r commented on #214
Decimal separators for every language are configured at Android, not application level. It's something that OS supply for applications. We can override this behavior but I don't see the point in it.

[2016-07-17 15:30] MatCAlves commented on #23
I am also with this issue here. When I try to type some characters that I believe are not acceptable like this interval of letters G - Z, nothing is really shown, but it is different when typing numbers or A - F letters. There are some kind of residual memory problem that makes some characters be typed more than once. Here is an example:

KB Key / Output:

[1] / 1
[a] / 1a
[2] / 1a2
[b] / 1a2b
[3]

[2016-07-20 09:39] am4n0w4r commented on #23
@MatCAlves it seems like Samsung phones still just ignore instructions not to enable autocorrect.
Fixed in 1.0.51, please test when available;

[2016-07-20 14:40] MatCAlves commented on #23
Yes. It is a bug that really happens on Samsung stock keyboards. I disabled Predictive text option and tried to type the import key and it worked perfectly.

![tmp_22269-screenshot_2016-07-20-11-30-03-650566321](https://cloud.githubusercontent.com/assets/20224023/16990500/8fbbbfb4-4e6e-11e6-86b7-ba4abeadffb4.png)

[2016-07-21 09:05] am4n0w4r commented on #210
This is not a hack imo, because usually if user deletes account, they rather do it intentionally and can easily remove that bar, or unintentionally and then they press undo.

Anyway, I've fixed it - now scroll is not blocked. In 1.0.51;

[2016-07-21 12:28] am4n0w4r commented on #170
Fixed in 1.0.51;

[2016-07-21 12:28] am4n0w4r commented on #197
Fixed in 1.0.51;

[2016-07-25 17:59] fyahfox commented on #214
Both... In English it is 10,500.24 XEM and in German that would be 10.500,24 XEM.

If Android does that automatically, why is it wrong in the app?

[2016-07-26 10:58] am4n0w4r commented on #214
You say in German it would be 10.500,24 XEM. Above there is a screenshot of German version that shows 12.595,9 XEM, so I don't understand what is wrong here? Also I made two screenshots with device language Deutsch and app lang Deutsch, and they look the same..
![screenshot_2016-07-26-12-55-17](https://cloud.githubusercontent.com/assets/7976963/17135536/ecc8a90a-5338-11e6-8735-23c1630ffe69.png)
![

[2016-07-26 18:30] MatCAlves commented on #23
Confirmed. This issue was fixed on version 1.0.51.b3315 of the app.

[2016-07-26 18:38] #233 closed

[2016-07-30 22:07] MatCAlves opened #234 "Duplicated POI index symbol"
It seems all other languages unless English are showing a duplicated POI index symbol. Just like "%ooo%ooo". At least at number zero of account importance.

Samsung Galaxy On7
Android 5.1.1
Kernel: 3.10.49
App version: 1.0.51.b3315

![screenshot_2016-07-30-18-44-19](https://cloud.githubusercontent.com/assets/20224023/17273337/92d19f36-5687-11e6-8647-2ae95348f25b.png)

[2016-08-01 12:30] Braintecho opened #235 "Cosig out of range bug + graphical glitch"
In an old multisig account it is impossible to delete cosignatories.
The message following states:
![img_20160726_212644](https://cloud.githubusercontent.com/assets/16880923/17293999/23a67b0e-57f4-11e6-9c13-10380eb09059.jpg)

After appearance of the message changing to another multisig account makes public keys of multisig #1 glitching over to multisig #2.

![img_20160726_212717](https://cloud.git

[2016-08-01 15:34] Qrysto opened #236 ""Enter password" screen - Back button does not quit the app"
Hi :)

When I'm idle for awhile then come back from the lock screen, the app asks for the password, "Enter password" screen shows up. Then if I press Back button (of the phone), the screen flashes once then come back to the "Enter password" screen. I think pressing Back button should quit the app in this case (or at least double pressing Back should).

Version: 1.0.51.b3315 BETA

Main net address:

[2016-08-01 15:45] Qrysto opened #237 "Scan QR code - should prompt for password after scanning successfully?"
When I scan QR codes to import accounts, it always asks me for password immediately, then after I enter my password, it shows the result: "Failed to import account". It's annoying when I have to scan QR codes  again and again, the process is slow. Is there any problem if we check the QR code validity before prompting user for password? Is password only needed when the QR code is valid and it's rea

[2016-08-01 15:56] Qrysto commented on #236
By the way, I think on main screen it should also take a double Back to quit the app

[2016-08-02 08:56] am4n0w4r commented on #237
This is a security feature. QR code has encrypted private key so no one can steal all your money just by e.g. taking photo of your QR or hacking your email with code somewhere in attachments.
If you're seeing password prompt, it already means that QR code is valid and you have to enter password _with which it was created_, this doesn't always and usually shouldn't be a wallet password - just for a

[2016-08-02 16:11] fyahfox commented on #234
confirmed for german language and non-zero poi score.

[2016-08-02 16:12] fyahfox commented on #235
what do you mean with "old"?
unfortunately i dont fully understand what you are doing and therefore cant reproduce the bug.

[2016-08-02 16:14] fyahfox commented on #236
yes, back button from the password input screen should quit the app.

what is "main screen" for you? account list or dashboard of an account?

[2016-08-02 16:23] jabo38 commented on #237
So the issue is when a person enters a wrong password, they don't know exactly what they did wrong.  The QR could have been bad, it could have been a problem with the app, or it could have been a wrong password.  The user won't know the difference with a generic "failed to import account".

Ideally, we need an error message that states why it didn't import; in this case the best message is "incorr

[2016-08-02 16:32] jabo38 commented on #211
Bounty paid. Tx hash: 114af07c9230e646f8b3b38f8a2f84fc6c5060e842e14f4b44e8d8b7a683bd32

[2016-08-02 16:44] jabo38 commented on #212
That is a good idea and one we have discussed before but at this time it is not within the scope of the app, so I'll leave it open to be reviewed later.  Also, a 2FA email system using multisig at its core can be built independently of this app, which is another nice conversation of its own.

[2016-08-02 16:46] jabo38 commented on #214
looks like German and English were okay to me.  They are suppose to be opposite.

[2016-08-02 16:46] #214 closed

[2016-08-02 16:47] fyahfox commented on #214
I'm so sorry, I didn't look closly at the screenshot.. It seems all correct for me.

[2016-08-02 16:59] jabo38 commented on #216
Right now we can't pay a bounty for major UI suggestions because that costs extra and UI is mainly set.

But in generally you are right, the Accounts button isn't right.  I was the one that put it there, but if I had to do it all over again I would put a drop down arrow at the top next to the accounts name to switch accounts.  That would look better and feel better to users.

[2016-08-02 17:01] jabo38 commented on #218
Bounty paid. Tx hash: 289095d2ab312262917287dec3bb9bc0be570015ad81436305f2bbdc0d7d9125

[2016-08-02 17:01] #218 closed

[2016-08-02 17:04] jabo38 commented on #220
RIght now multisig doesn't support sending encrypted so the button will have to remain grey.

[2016-08-02 17:07] jabo38 commented on #221
if you have saved the person's name in your address book, there will be an auto-suggestion box that comes up as you start to type their name.

[2016-08-02 17:07] #221 closed

[2016-08-02 17:09] fyahfox commented on #225
Ok, so let's leave it as is for now.

[2016-08-02 17:09] #225 closed

[2016-08-02 17:16] jabo38 commented on #226
Could someday work like how iOS does.  It works well in iOS, but for now it is okay.  Could be a little better with warning in Red in Android.

[2016-08-02 17:20] jabo38 commented on #236
Bounty paid. Tx hash: 4d4448544fd216b3eb1e0417912895fcc54c27801da8b9ad59683364599081a5

[2016-08-02 17:27] Qrysto commented on #237
I don't think that I entered the wrong password. I've done it dozens of times, cleared all data to start again from scratch (create a new password), then entered it many times again (still failed), then repeat.... Maybe it's some error in importing the account, I don't know but the message should be clearer

[2016-08-02 17:31] Qrysto commented on #236
@fyahfox the account list. More generally wherever it takes one Back button to quit the app at the moment,

[2016-08-02 17:31] jabo38 commented on #207
Bounty paid. Tx hash: 41fa867bd8c6fb2ee52a82c913f020c53faa9cdb98cd3083b8ffe16e0fa735dc

[2016-08-02 17:32] jabo38 commented on #237
Bounty paid. Tx hash. 41fa867bd8c6fb2ee52a82c913f020c53faa9cdb98cd3083b8ffe16e0fa735dc

[2016-08-02 17:34] jabo38 commented on #215
Bounty paid.  Tx hash: 20c01c3b94dce8997d45c8c6d39a4d1cc51a92d1d9b9a328a10c8ba48294a9e6

[2016-08-02 17:37] jabo38 commented on #219
Bounty paid. Tx hash: 56cf982497f3c85296e0e66a7b7996564fd93b9c08bff6176eeae2ae71126df0

[2016-08-02 17:40] jabo38 commented on #233
Bounty paid. Tx hash: 01434c50a60b7d59e796c5e0c2d461a02ad7054c68fe70f5e40f0aca564bc00b

[2016-08-02 18:16] Qrysto commented on #237
thanks, received in my wallet :smile:

[2016-08-03 05:13] nikhiljha opened #238 "QR Code Scan Window is Upside Down"
I think this should be self explanatory, for example when I take a picture of a right side up map of australia through the NEM Wallet camera - it looks like this:

http://i.imgur.com/OuyymPn.jpg

Phone Info:
Stock Nexus 5X, never rooted, never flashed.
Latest patches.

All camera apps are fine though.

[2016-08-03 10:13] MatCAlves commented on #236
At account list screen, a single tap in back button is enough to quit the app. But when at the password screen, that bug really is reproducible here. It doesn't matter how many taps on back button I do, the app never quits.

Version: 1.0.52.b3324

[2016-08-03 11:13] am4n0w4r commented on #237
Interesting issue...
@Qrysto can I see QRs that you can't import, with passwords to import, and account details?
I can give you my email if you don't want to share this publicly.
Also I need to know where QRs came from and were they created with default password checkbox set, or with custom password when exporting?
@jabo38 ok, I'll change the message to "Incorrect password".

[2016-08-03 18:55] fyahfox commented on #209
Sorry for the late replay.
"zoom is working" -> What do you mean? You can "pinch to zoom" inside the QR scan camera picture?

please just creat qr codes, send them to your telegram account and open it on another device e.g. and then scan them with your phone. please also try to test which type is having problems. it seems account QRs are working? what about "my info" QRs and invoice QRs?

@am4n0w4

[2016-08-03 19:27] fyahfox commented on #210
nice, thank you

[2016-08-03 19:27] #210 closed

[2016-08-03 19:30] fyahfox commented on #170
well, i remember that we discussed the copy feature a lot and i think we decided to use the default android way (which is an editable selection and a copy button), but since i dont have a better idea how to solve this problem with this conflicting features, we should leave it as it is now.

thanks for the fix.

[2016-08-03 19:30] #170 closed

[2016-08-03 19:32] fyahfox commented on #197
ok, works good for me. thanks

[2016-08-03 19:32] #197 closed

[2016-08-03 20:13] fyahfox commented on #236
yes, i can reproduce it too. @am4n0w4r can you reproduce as well?

[2016-08-04 00:17] MatCAlves opened #239 "Import scanner keeping device awake"
When I navigate to import scanner I notice that even after several minutes the screen doesn't turn off. But it doesn't happen with the new transaction scanner. I am a bit confused because I don't know if that needs to be thus or if there is really some problem here. Anyway, I think it could result in a security problem if for some reason the user needs to leave the device alone suddenly while it w

[2016-08-04 10:42] Qrysto commented on #237
@am4n0w4r ok i'll try to give you more info tonight when i'm home

[2016-08-08 17:09] Qrysto commented on #237
Ohhhh f*** I've figured it out lol
Sorry for forgetting this a few days now. Turns out that the password box appears after the QR is scanned is the *import password* for the QRs, not *my password* that I've set when I open NEM app the first time!
Now I've noticed, the password box after QRs are scanned is labeled "Enter import password" while the other one is just "ENTER PASSWORD". It's hard to kn

[2016-08-09 07:51] am4n0w4r commented on #237
Ok, I see :) Actually I mentioned it in my message :)

[2016-08-09 12:25] Espo02 opened #240 "Reopen the App: Menu missing"
If I "open" my Android and the AndroidNEMApp Asks for its password, the Button Menue is missing until I tab in a Textbox.

![screenshot_20160809-141015](https://cloud.githubusercontent.com/assets/17567386/17516167/21902ff0-5e3d-11e6-810d-6684b409ba69.png)
![screenshot_20160809-141323](https://cloud.githubusercontent.com/assets/17567386/17516168/2334afa2-5e3d-11e6-89f2-896c3a813bb9.png)

Espo: NDEF

[2016-08-09 14:07] fiazk commented on #200
I still see this issue with 1.0.52 and the tables do not have this string yet @jabo38 @fyahfox

[2016-08-09 15:47] am4n0w4r commented on #209
Changed QR scanner implementation. Should be a lot faster, without dependencies, and more reliable

[2016-08-09 15:49] am4n0w4r commented on #234
Fixed in 1.0.53;

[2016-08-09 15:56] am4n0w4r commented on #237
Changed message to "Importing failed. Incorrect password". For now this is the only thing to resolve here I see.

[2016-08-09 19:14] fyahfox commented on #239
Interesting. Maybe the devs can explain?

[2016-08-09 19:16] fyahfox commented on #240
I can not reproduce this.

Please add your phone model and Android version.

[2016-08-10 14:40] #234 closed

[2016-08-10 15:01] MatCAlves commented on #240
It is reproducible here. That bug comes to happen when you minimize or lock the screen and then you come back to the app typing the password. So, that transaction section above is shown without the buttons. I would say the positions of those images are switched. The first image is the result after typing the password, and second one is before that.

[2016-08-11 11:07] fiazk commented on #226
perhaps in the future it would be nice to ask the user if he/she wants to back up the wallet before deleting

[2016-08-12 11:21] fiazk opened #241 ""No valid server" "Server error occurred" when app started"
When app started I get the issue displayed below. I have tried the 1st two defaulted servers and I get these errors, however, the third server works just fine. I tried killing the app and start over again but nothing happened.
![photo_2016-08-12_13-17-03](https://cloud.githubusercontent.com/assets/17099341/17620829/5cdd7e1a-608f-11e6-87e9-79abfb20149a.jpg)
![photo_2016-08-12_13-16-52](https://clou

[2016-08-12 12:03] fiazk commented on #241
@fyahfox @jabo38 this it's extremely annoying because the app automatically changes the server to the 1st which doesn't work "artygeek.net" and I have to manually change it every time

[2016-08-12 17:45] fiazk opened #242 ""NEM client crashed, sending report..." Namespaces & Subdomains+Mosaics"
It seems there is a bug with multi-sig + Namespaces & Subdomains+Mosaics. I don't really know what happened but now the mob app keeps crashing every time I start it. I was playing with multisig+nanoW+Namespaces & Subdomains+Mosaics. When I went to the mob. app to confirm m-sig tx it just started crashing.

These are the addresses involved:

TBIG2FEVUMVSFCEDUM2OISQED5M2HUD67RYV6ZSE
TABFN75542Z66BPZ

[2016-08-12 17:45] fiazk commented on #242
@jabo38 @fyahfox an important one imo

[2016-08-13 01:27] mbush78 opened #243 "Can not Exit the App from Login Screen via Back Button"
Android N Beta 5 - Nexus 6
When on the Login Screen, Showing Enter Password Prompt

Expected Result: Backing out from Login Screen Exits and Terminates the App
Actual Result: Back Arrow just causes the screen to reload

TBYOK7-JXJLWU-AOQGOQ-43ZZGZ-TZDV4N-QG6XU4-QSDK

[2016-08-13 19:38] jabo38 commented on #242
@fiazk can you kill the app in the background and restart it. at that point it won't crash anymore when you start.  then can you try to reproduce it.  it is important to know how this happened.

[2016-08-13 19:40] jabo38 commented on #241
@am4n0w4r is there a reason why the app is connecting to bad servers?

[2016-08-14 14:20] fiazk commented on #242
@jabo38 I did so and it keeps crashing. I will PM you the PK so you can see it as well

[2016-08-14 14:45] fiazk commented on #242
I have also deleted all the cache and imported the acc again but it keeps crashing. I have sent you my PK and acc name so you can reproduce it on your end @jabo38

[2016-08-14 14:47] fiazk commented on #217
@fyahfox @jabo38 on NEM 1.0.53 this issue has not been fixed. It still says " Enter Address or Label"

[2016-08-20 20:25] jabo38 commented on #242
address
TBIG2F-EVUMVS-FCEDUM-2OISQE-D5M2HU-D67RYV-6ZSE

private key
449554f1938d39d3e566e1b2c4dc5380e669e9a10405d359f498b0d412ef9e9f

[2016-08-22 16:16] nikhiljha opened #244 "App won't open at all..."
Relevant LogCat Lines
[code]

I think you can fix this bug by
- Setting compile target to the latest android, but leave that other target (compatibility?) at 4.4.4.
- Implementing the OnFragmentInteractionListener method in that specific dialog, as you can see in logcat.

[2016-08-22 16:17] fiazk commented on #217
@fyahfox @jabo38  and still not fixed on 1.0.54

[2016-08-23 03:41] nikhiljha commented on #244
Confirmed same bug on my s3 with Android 6.

Looks like a 6+ bug.

Easy fix though. I detailed how to fix it already.

[2016-08-24 23:16] jabo38 opened #245 "QR Scanner doesn't work"
Tested with LG G3 and Galaxy S3.  Android 4.4.4.  At no point could I get QR scanner to work.

[2016-08-26 14:39] fiazk commented on #243
I just tested it on .54 and this still happening

[2016-08-26 14:53] fiazk commented on #200
checked .54 and it's not fixed yet @fyahfox @jabo38

[2016-08-26 14:58] am4n0w4r commented on #242
Application doesn't support mosaic transactions

[2016-08-26 15:01] fiazk opened #246 "String to be translated missing on version .54 and tables."
When sending or deleting the log report or file the confirmation message "Sent" and "Deleted" are not translated nor in the translation loc. files.
![photo_2016-08-26_16-55-26](https://cloud.githubusercontent.com/assets/17099341/18009886/69c48f54-6bae-11e6-8a68-379099187c4c.jpg)

Also, shouldn't the string be the same for sending or deleting? At the moment it's displayed as "Send log report" and "

[2016-08-26 15:02] fiazk commented on #246
Mobile: Samsung S3
Android 4.3
NEM 1.0.54

NDAZM2-KCD2XB-4Y7XMM-J5UUZ3-2ZCBHE-MHRHF4-3U3W

[2016-08-26 16:07] am4n0w4r commented on #241
The app uses heartbeat as the quickest and simplest way to determine if server is working.
"Server error occurred" means that heartbeat to that server passed ok but somehow server returns bad result for other requests.
Please send commented log report right after this happens and write the time when you did it here so I can investigate a little bit what's happening.

[2016-08-28 03:45] nemster commented on #194
Yes, I confirm it is fixed in 1.0.53.

Sorry for the dalay.

[2016-08-29 08:40] fiazk commented on #242
I just crashed another account. However, this time it was by creating a namespace in the nano wallet and involving a mob acc with multi-sig with the namespace tx.

Public Key: ea5a67449d7775061c466e00bb98d12906d7364e75219e1993f56304e904495d
Private Key: 0099d369894162771264ea247a2964332ebf85cfe6785b8a32ea9c90bf07f96a41

[2016-08-29 08:48] fiazk commented on #242
To reproduce: 1) Created 1 mob acc and 1 nano wallet acc with 2 addresses (I guess it could be also only 1 address). 2) Turned one nano wallet address into multi-sig by making the other 2 addresses cosigners (1 from NW and 1 from mob app). 3) Created a namespace with the multi-sig acc

[2016-08-29 09:16] jabo38 commented on #242
@am4n0w4r what basically is going on is he was working on Nano wallet doing regular NEM transactions and had the same account on his phone.  But now the app is broken.  So even though the phone app doesn't do mosaic/namespace transactions, it still needs to not break when they are done elsewhere.  I loaded his key into my app and when I did the account wouldn't work.

[2016-08-30 09:03] am4n0w4r commented on #245
There was a small bug that was on some of Android 4+ devices. Should work in 1.0.60 versions.

[2016-08-30 09:09] am4n0w4r commented on #244
Fixed in 1.0.60;
Very strange that it wasn't crashing on all other systems as it should so I haven't noticed it..

[2016-08-30 10:27] am4n0w4r commented on #243
Should work in 1.0.60;

[2016-08-30 12:12] am4n0w4r commented on #241
I've tested this behavior on old emulator which have old non-working servers. This behavior is reproducible and the reasons are like I described - server that appears to be the fastest, cannot handle transaction requests. The simplest way is to delete that server from list because it seems that it usually happens on old servers that are not updated. Otherwise we need to change the criteria by whic

[2016-08-30 16:26] am4n0w4r commented on #242
Please test in 1.0.61 testnet, this should be fixed, right now I don't have possibility to create mosaics, cannot test it myself

[2016-08-31 05:08] nikhiljha commented on #244
Tested and fixed on N and M.

[2016-08-31 05:08] #244 closed

[2016-08-31 16:06] fiazk commented on #242
Still crashing. I started with a brand new acc Private Key: 126182ede6e58c9285922aaee792c7695540cc97eea27c4ec168cc468a52c7f9

I also imported the previous compromised account and it also crashes

[2016-08-31 16:07] meyns opened #247 "Cannot write to storage"
After trying to "Share QR" a message pops up saying "Cannot write to storage"
I'm on android 6.0.1 and using 1.0.60.b3373 BETA

[2016-08-31 16:09] meyns commented on #247
In app-info in the NEM app in permissions there is only Camera and Contacts

[2016-08-31 16:43] fiazk commented on #242
Sorry I just realised the version I was using is .60 @jabo38 where can I download the .61

[2016-08-31 16:49] fiazk commented on #242
@jabo38 the following link gives me 404 error https://drive.google.com/open?id=0B-3myDNfWMs2cElNa3pGenpySHM1

[2016-08-31 18:13] fiazk opened #248 ""NEM client crashed, sending report..." Second Case"
Used the QR scanner with the Nano Wallet QR code and the app crashed giving "NEM client crashed, sending report..."

QR used:
![crashed with nw qr](https://cloud.githubusercontent.com/assets/17099341/18137884/8ef3fecc-6faa-11e6-862f-083d05d48e20.png)

Mobile: Samsung S3
Android 4.3
NEM 1.0.61

NDAZM2-KCD2XB-4Y7XMM-J5UUZ3-2ZCBHE-MHRHF4-3U3W

[2016-08-31 19:36] fiazk commented on #247
same for .6 mainnet

[2016-09-01 13:44] am4n0w4r commented on #242
https://drive.google.com/open?id=0B-3myDNfWMs2bC1OSk1HLU5SX1k here is version 61

[2016-09-01 15:58] fiazk commented on #245
working on Android 4.3

[2016-09-01 16:14] fiazk commented on #242
@am4n0w4r This is mainnet, could you please share 61 for testnet. Thanks

[2016-09-01 16:19] kmiliak commented on #242
@fiazk   testnet https://drive.google.com/file/d/0B-3myDNfWMs2bC1OSk1HLU5SX1k/view?usp=sharing

[2016-09-01 16:20] fiazk commented on #242
@kmiliak Thanks

[2016-09-01 16:59] fiazk commented on #242
Now I get the notification (didn't happen before) but once I click "Show" the app crashes
![photo_2016-09-01_18-57-01](https://cloud.githubusercontent.com/assets/17099341/18176456/fafd9472-7075-11e6-8bb6-8b096fdd80af.jpg)

[2016-09-05 08:06] Kuppi74 opened #249 "Changing server, changes transfers and balances."
Hi, my account is somehow living doublelife, I have used two latest android testnet apk´s, now 1.061
Phone is Oneplus 3. (Account if bounty NDGL36-26SODK-ZZQ7NZ-YC6573-GS55SY-23LLIP-4GOQ)

with two server(37.120.188.83 & 188.68.50.161) its like this, different with [tembex](http://bob.nem.ninja:8765/#/account/TB4QWSWIZGA2RH6WNA5LCRXDM2LELWAH5IRL66NG/0)
![screenshot_20160905-102353](https://cloud.g

[2016-09-06 04:48] jabo38 commented on #249
I'm just guessing this wasn't an app problem.  Recently the testnet forked. Some I'm just guessing some servers were up to date and some weren't.

[2016-09-06 04:51] jabo38 commented on #248
Was this an invoice or an account QR?  Account QRs from the desktop Nano are not compatible with mobile apps yet.  The invoices should work.

[2016-09-11 09:48] jabo38 opened #250 "not getting alert notifications to sign multisig transactions"
I get alerts for incoming transactions just fine, but I don't get alerts to sign multisig transactions.  If I randomly stumble my way into an account, then I will get a pop-up on that acccounts dashboard, but we need an alert that buzzes when the phone is asleep that there is a transaction to sign.

[2016-09-11 10:34] jabo38 opened #251 "Fees need to be recalculated"
There was some miscommunication on how the fees should be calculated for the testnet.

Right now the app charges 1 XEM for every 10,000 XEM sent, and that is more or less correct, but it charges a 1 XEM fee for 9999 XEM and 2 XEM for 10,000.  Actually, it should be a 1 XEM fee for transaction up to 19,999.99999 and then a 2 XEM fee for 20,000.  3 XEM fee for 30,000.  4 XEM fee for 40,000 and so on

[2016-09-14 14:29] am4n0w4r commented on #251
Fixed in testnet 1.0.62;

[2016-09-14 14:48] am4n0w4r commented on #247
Fixed in testnet 1.0.62;

[2016-09-14 15:51] am4n0w4r commented on #242
Please test again in testnet 1.0.62;

[2016-09-14 15:58] am4n0w4r commented on #240
Cannot reproduce this on 1.0.61 and 62, please test with 1.0.62;

[2016-09-15 19:06] fiazk commented on #242
link please?

[2016-09-16 16:20] jabo38 commented on #242
Here is link to Android new testnet release
https://drive.google.com/file/d/0B-3myDNfWMs2NHhGMVl6UVB6SU0/view?usp=sharing

and Mainnet:

https://drive.google.com/file/d/0B-3myDNfWMs2eDFtYkxqT1U2RnM/view?usp=sharing

Please make the fresh install.

[2016-09-17 10:30] jabo38 commented on #243
@mbush78 you left a testnet account.  if you want a bounty you need to leave a mainnet account

[2016-09-17 10:59] jabo38 opened #252 "Can't see My Account QR because screen doesn't scroll"
I am using a Galaxy S3 with 4.4.4 and the screen for my info only shows half the QR.  I also try to make it scroll but it won't

![image](https://cloud.githubusercontent.com/assets/10395907/18607758/25ae4dcc-7d11-11e6-87f8-5a66310fb436.png)

[2016-09-17 11:12] jabo38 opened #253 "when deleting an account, the undo button should undo the delete"
I'm not sure if it is possible or not to make the undo button undo the delete, but that would be nice.

[2016-09-17 11:13] jabo38 commented on #253
see also #266

[2016-09-17 17:11] fiazk commented on #248
@jabo38 This was "Wallet QR" I just tried it on .62 and the client crashes. Even though it's not compatible it shouldn't crash.

I tired with nano wallet invoices and it works fine

[2016-09-17 17:39] fiazk commented on #242
Good news, it is fixed.

[2016-09-18 13:27] mbush78 commented on #243
Thanks for pointing that out @jabo38

NABGEW-YCDMLG-OSD2UI-G5OBA6-P2337Z-RODYY7-4LWB

[2016-09-19 13:53] mizunashi opened #254 "Japanese localization"
Do you have the progress of the Japanese localization is made in any way?
And the Japanese version of the iPhone, but translation is different, looks like you are working separately.

If I can edit, I want to the Japanese localization.

https://github.com/NemProject/NEMAndroidApp/blob/e00f913afa2bd5dc5c33dcd83ffde496c89de3f9/app/src/main/res/values-ja/strings.xml

[2016-09-19 14:18] jabo38 commented on #254
@mizunashi, hi thank. I should have somebody working on improving the Japanese right now.  Thanks for the offer, I'll keep it in mind.

[2016-10-06 12:45] jabo38 commented on #250
fixed

[2016-10-06 12:45] #250 closed

[2016-10-09 06:46] ponponpain opened #257 "No warning dialog is shown when sharing QR on the exporting account"
No warning dialog is shown when sharing QR on the exporting account, while showing the secret key on the screen requires press the button of warning dialog.
As a result of no warning, it contains the secret key information, thus easily can export.

[2016-10-09 07:09] am4n0w4r commented on #257
I'm not sure I understood correctly where is the issue

[2016-10-10 03:21] ponponpain commented on #257
It's onShareClick() in ExportAccountActivity.java ConfirmDialogFragment is not shown.

https://github.com/NemProject/NEMAndroidApp/blob/master/app/src/main/java/org/nem/nac/ui/activities/ExportAccountActivity.java#L177

[2016-10-10 06:31] am4n0w4r commented on #257
There is nothing to warn about on share - private key in QR code is encrypted and is not usable without decrypting using the right password

[2016-10-10 12:58] #254 closed

[2016-10-10 13:11] #257 closed

[2016-10-23 06:25] jabo38 commented on #252
fixed

[2016-10-23 06:25] #252 closed

[2016-10-23 06:32] jabo38 commented on #243
it seems like I have to press the back button twice.  Version 1.0.62

[2016-10-23 06:38] jabo38 commented on #247
fixed

[2016-10-23 06:38] #247 closed

[2016-10-23 06:52] jabo38 commented on #245
fixed

[2016-10-23 06:52] #245 closed

[2016-10-23 07:05] jabo38 commented on #241
While on the testnet this is a problem because some people don't update their servers, on the mainnet version it should be fine because our suggested servers should be good.  So we can think about fixing this later and should note it is a problem, but it is not urgent.

[2016-10-23 07:52] jabo38 opened #258 "Dashboard "Unconfirmed" doesn't "Confirm""
In the quick reply panel a sent transaction in unconfirmed will become confirmed, but if in the Dashboard panel unconfirmed messages stay "unconfirmed" until exiting and entering the Dashboard again.

[2016-10-23 08:48] jabo38 commented on #239
I repeated this issue.

[2016-10-23 16:22] MatCAlves commented on #240
This bug is there yet. The procedure to see it: Login into the app -> Select an account -> Tap on any transfer chat (this time you will be able to see the menu with 4 buttons: Dashboard; Address Book; QR; More).
After that, minimize the app, wait some seconds then reopen and login again. The menu with those 4 buttons is not there anymore.

[2016-10-24 10:01] MatCAlves commented on #253
I have no problem with that Undo button. It works well to me. It only doesn't work after tapping the Done button.

![tmp_2906-screenshot_20161024-0755091975783895](https://cloud.githubusercontent.com/assets/20224023/19641534/e5572c46-99bf-11e6-8e1c-0d0394bd31b6.png)

After:
![tmp_2906-screenshot_20161024-075532751830437](https://cloud.githubusercontent.com/assets/20224023/19641546/f2c940a8-99bf-11

[2016-10-25 13:03] jabo38 opened #259 "can't remove myself as a 1-of-1 signer on an account"
if an account is multisigged and it is an 1-of-1 account, I should be able to remove myself undoing the multisignature contract.

[2016-10-25 13:34] jabo38 commented on #259
further more.  if I am a 1-of-1 multisig account cosigner, I should be able to remove myself and add another in the same transaction.

[2016-11-03 09:52] am4n0w4r commented on #242
@fiazk please close the issue if it's fixed.

[2016-11-03 12:42] am4n0w4r commented on #243
We need to press back button twice because first time always closes the soft keyboard.
What we can do:
1) not open keyboard when window is shown (easier),
2) intercept back button when keyboard is shown and close keyboard and window

[2016-11-03 13:27] jabo38 commented on #243
If I understand you correctly, option b) means when we hit the back button it will close the keyboard and window.  if that is the case, then that is the proper user experience.  nobody really wants the back button to close the soft keyboard, and everybody wants the keyboard up when landing on that screen.  There is really no reason to not have the keyboard up on that screen.  so it is best if the

[2016-11-03 14:16] am4n0w4r commented on #243
Actually this is default system behavior: when soft keyboard is open, back button always closes it first. Yes, we can override this but just to note that this is more like a hack.

[2016-11-03 15:54] jabo38 commented on #243
yes, that makes sense.  I guess I understand why that is default.

I would appreciate the "hack" though.  :-)  Thanks

[2016-11-03 16:07] #242 closed

[2016-11-04 09:51] am4n0w4r commented on #240
What phone/android version are you using? Does this happening on one particular device?
I still cannot reproduce this, toolbar always comes back.
I forced visibility check on screen opening, please test if this helps, in the next version.

[2016-11-05 12:21] renolteng opened #260 "Please add chinese public nodes to defaut servers"
As the topic, chinese public NIS cluster's domain name is
public.nemchina.com

It's a multiple NIS nodes  with GSLB DNS, please provide this address in the default server list to provide better service.

[2016-11-05 12:37] renolteng opened #261 "App crashes if QR permission is not provided"
On some devices, if the QR scanning permission is blocked by the cellphone's security software, when switching to QR panel, instead of asking for permission or giving out error, the app crashes.

This issue prevented baidu mobile assistant (most popular chinese android market) from listing NEM Wallet, please fix it.

[2016-11-05 18:25] jabo38 commented on #260
@am4n0w4r can you please add that in the next version.

[2016-11-05 18:27] jabo38 commented on #261
@am4n0w4r can you please look into this.  Basically what is going on is when he loaded the Android app on Baidu, they wouldn't let him add it.

When people have the QR scanning permission blocked by the cellphone's security, then trying to use the QR panel crashes the app.

[2016-11-05 18:29] iaminitnow06 opened #262 "No transaction confirmation popups"
When we send a payment the app does ask for a confirmation like "Would you like to send this transaction" or "Are you sure you want to do this transaction".
It will be really useful. What if somebody wants to send 299 XEM and ends up sending 2990 XEM? It'll be really great if you could add this. Thanks :)

[2016-11-06 11:46] thilon opened #263 "NEM Mobile Wallet should have its emotion package."
I found that NEM Mobile Wallet support input method emotion.I think it should have its emotion package.

[2016-11-07 09:22] owon opened #264 "Bug while removing multiple accounts from the list"
I have several accounts in my wallet, e.g.:

Account A
Account B
Account C
Account D

I want to remove all accounts execpt "Account D". I click the "Edit" button and start with removing "Account C" by clicking the "X". If i try to remove "Account B" next it looks as if the App removes "Account D" instead and "Account C" reaprears in the list.

[2016-11-07 11:26] owon commented on #264
Tested with 1.0.63 version from Play Store.

[2016-11-07 12:29] am4n0w4r commented on #243
Fixed;

[2016-11-07 12:32] am4n0w4r commented on #259
Fixed part when the last cosigner could not be removed. The other part is a bit different and involves functionality changes so it is better to file it as a different issue.

[2016-11-07 12:37] am4n0w4r commented on #258
Fixed;

[2016-11-07 13:12] am4n0w4r commented on #260
Is this test or mainnet server?

[2016-11-07 13:23] am4n0w4r commented on #261
What Android version do devices use?
Nem started development when Android 5 was on the market, so it doesn't support Android 6 runtime permission system. It should run in compatibility mode now and needs to be adapted. This is about official Android permission system. Some vendors (e.g. Meizu) had implemented their own custom permission systems that work on earlier versions. These are not official

[2016-11-07 15:43] jabo38 commented on #259
okay, sounds good

[2016-11-07 15:46] jabo38 commented on #264
confirmed.

[2016-11-07 23:34] renolteng commented on #260
This is a mainnet server and we're sure it's working well.
As it's a china based server, the connection to overseas locations is always interrupted by internet police (Known as the largest intranet in the whole universe）, it's normal it's not pingable. We've been using these servers for more than 6 months. Please add it anyway.

[2016-11-08 08:54] renolteng commented on #261
Actually, the phones baidu used to test our app was Oppo R7 with 4.4.4 and Letv X600 with 5.0.2.
I'm not even sure if they would use the same phones next time, but please try to adapt to more permission systems as these are the actual problems the users would encournter.
Thanks for you effort.

[2016-11-08 11:13] am4n0w4r commented on #261
I see.. Android 4.4.4 and 5.0.2 and all prior to 6 have no official runtime permission system, it means that all permission systems that phones are using on these versions are custom built. This can be very hard to catch and fix without having actual device to debug or at least some specs on that permission systems that I believe do not exist.. Ok, we'll need to investigate this more to see what w

[2016-11-08 12:58] renolteng opened #265 "QR scanning activation"
I noticed that once i touched QR section, it immediately activated QR scanner and the camera began scanning there. But to me the QR's front page is used to show the user's own QR and address.
Could you please limit it to activating on clicking the scan sub section?

[2016-11-14 20:38] fyahfox commented on #200
@fiazk well, people have to translate... Otherwise you will of course see the english string. I guess we are talking about <string name="debug_hint_report_comment">?

[2016-11-14 21:00] fyahfox commented on #217
Wow... and still (or again?) not fixed in 1.0.65!

[2016-11-14 21:28] fyahfox commented on #239
confirmed for 1.0.65

[2017-03-02 22:29] fiazk commented on #217
Still not fixed on 1.0.66. Didn't think will take this long....

[2017-04-05 09:06] jabo38 opened #267 "force back up of new wallet"
People creating an wallet from a QR or PK obviously have a back up, but people creating a simple wallet don't.  After they make the simple wallet, before going to the landing screen, they should be show the export account QR, and told to take a screen shot or save to camera roll, and if they don't they have to click a box saying they understand the risks of not doing so.

Basically, if we don't fo

[2017-04-18 20:01] kekkyojin commented on #261
Can anyone point me where source code that asks for the QR reader is?

[2017-04-22 19:01] mizunashi opened #268 "Android OS 7 resident program error"
When I upgraded Android OS from 6 to 7, I got error now.
An error occurs when you start the wallet application for the first time after booting the OS. And even if you start the application at least once, the same error will be displayed on the screen periodically even if you quit the application.

There is no problem if you do not use the Wallet app after starting the OS.
If you launch the applic

[2017-05-19 19:13] gimyboya opened #269 "Useful Crash Message For QR Code Scanner"
I have noticed that the app crashes if the permissions are not set properly for the camera and the bug has already been reported is this issue #261 here are some screenshots:
Permissions:
![permissions](http://imgur.com/a/248Vf)

Crash:
![Crash](http://imgur.com/a/248Vf)

[2017-05-19 22:26] gimyboya opened #270 "Display Balance In Different Currencies"
Coming from the desktop Nano Wallet i miss the feature where i can click on my balance to see it in different currencies other than XEM.

I can't see that in the Android app wallet.

[2017-06-08 02:00] #183 closed

[2017-06-08 02:01] #185 closed

[2017-06-08 02:01] #184 closed

[2017-06-08 02:02] #182 closed

[2017-06-08 02:02] #186 closed

[2017-06-08 02:02] #181 closed

[2017-06-08 02:03] #180 closed

[2017-06-10 21:27] tongokongo opened #271 "Showing mosaic as a XEM"
So I got a transaction from faucet with NEM and mosaic:
Namenamuyan:faucet
 Quantity1.
 Namenem:xem
 Quantity50.185000
-this is from nanowallet. I believe nem is also some kind of mosaic, but my android app shows the transaction like this:
![image](https://user-images.githubusercontent.com/29152385/27006434-20012008-4e34-11e7-9457-bb3973713422.png)
![image](https://user-images.githubusercontent.co

[2017-06-18 19:22] kekkyojin commented on #261
Stop reinventing the well. There are at least one very good app for QR scanning. Just use Android intents for getting the encoded data and remove any related code from the NEM client.

[2017-07-06 07:04] scottallanaz opened #274 "Help! My phone was factory reset by Verizon!"
Help!  My phone was factory reset by Verizon!  I don't know how to restore my account!  I  have all transaction and address information, however I dont think I can recover the private key.  Is there anything I can do?

[2017-07-13 16:46] jabo38 commented on #240
Bounty paid tx bbcaedb3d32c136744b55e5ed8b4e68ee5d93b46a1a08c8291eaa7a895a2c413

Still might need to be fixed

[2017-07-13 16:48] jabo38 commented on #241
bounty paid Transaction hash: 218e346e5041ffb703ae6a3486585fed5187e68db4f8a4b90ec004346e650f43

[2017-07-13 16:48] #241 closed

[2017-07-13 16:49] jabo38 commented on #242
Bounty Paid Tx Hash: 746fa3bc1299626fe07fb74b2b8a5430d0755ed2f436ac25605caa3cd9ec6ade
--

[2017-07-13 16:50] jabo38 commented on #243
Bounty Paid Transaction Hash: 028f193a58d3fe03b6c739c337e0ead6bb824aab17e73af755232e8e9393599d

[2017-07-13 16:50] #243 closed

[2017-07-13 16:55] jabo38 commented on #248
Still needs to be fixed.

Bounty Paid Transaction Hash: 1bb971600d0b5ad323002016ccd6f981c629fbc8d4f60adcf6727ff4b844e54f

[2017-07-14 08:23] cyrus1683 opened #275 "App crashes everytime on opening"
Everytime when I open the app (just if it was really closed before, or handy restarted), it apears an error message.
![screenshot_20170706-110134](https://user-images.githubusercontent.com/22840969/28204424-2ffd9086-687e-11e7-9546-413903bc3df7.png)

**app-version:** 1.0.66 BETA
**Android-version:** 7.1.1

NAQP6K-243JLR-GFVMJP-BX4VIQ-OHF5HA-YVVMHA-G5OU

[2017-07-14 08:48] cyrus1683 opened #276 "Design/Text issue with german language"
**Android-version:** 7.1.1 (OnePlus 3T)
**app-version:** 1.0.66 BETA

**Issue:**
In the Account menu, on the top right, the "edit" button (in german bearbeiten) is to close to the right border. It looks really unprofessional.
It needs a litle bit more space.

![screenshot_20170714-102905](https://user-images.githubusercontent.com/22840969/28205267-93b0368a-6881-11e7-8a5c-9d1592afc5e3.png)

NAQP6K-

[2017-07-27 20:52] tongokongo opened #277 "NEM client crashed while performing importance tx"
I tried to activate delegate account on my **multisignature** account. I performed the creation of "Multisignature importance transfer transaction" on my desktop (nanowallet) client on first cosignatory account. I tried to confirm it on my phone (second cosignatory account) but I was getting error about crash of the app.

![image](https://user-images.githubusercontent.com/29152385/28691427-2f5e896

[2017-07-27 21:05] tongokongo commented on #275
The same on my device. Only message appears, all other services, except issue #277 works.

I am using Xiaomi Redmi4a 1,4 GHz Quad Core, 2 GB RAM, Android 6.0.1.
NEM Mobile APP 1.0.66. BETA-Mainnet

[2017-08-15 06:48] mizunashi opened #279 "[Request] Biometric authentication system"
I am using both Android and iOS app.
As you become accustomed to the iOS application, it is very troublesome to enter Android password.

If Android main body supports biometric authentication, I want you to have a switching function that can be approved by biometric authentication.

Thank you.

[2017-08-27 13:04] patmast3r opened #280 "Add disclaimer on first open"
This thing needs an explanation for newcomers that
* their coins will be lost if they don't backup their wallet
* that they can get support at forum.nem.io
* that this app is still under development and they use it at their own risk

[2017-08-27 14:49] jabo38 commented on #280
we used to have that but then lots of people complained so we took our warning down, but yes, I guess it is time to put it back up.

[2017-10-15 16:54] palsatisb opened #281 "My 320 nem lost"
Plz check as i wanted to send my 320 nem to poloniex acc...   Accidently it was sent without any address and only msg was typed..  The transaction id is showing was... 49797d7451cf10c921b487a7fdf46aa625bc71da245da8ae9e1409d55c15de51  plz help to get it back

[2017-10-18 07:20] Hamdiovish opened #283 "A frozen state of the key-account-creation button"
NBODCP-XW5R7X-FZ4R3I-ZNEIM2-Y7S3TE-VKJ42J-KQZ7

**The bug description:**
Once the user enter a wrong private key or click the "Create" button while keeping one of the InputText empty, the button became not-clickable.
Then, even if the user correct or enter correct data, the button remain not-clickable.
Thus, the application hangs in this state until the user close the activity, even with the corre

[2017-11-06 11:32] mizunashi opened #284 "Signature when updating namespace under multi-sig environment"
The namespace that the multi-sig account has is updated.
Processed transaction with NanoWallet. This is Isser.
Then you have to sign with Android wallet.
However, it always terminates abnormally at signature.

In a general transfer transaction, no error occurs at signature.

[2017-11-13 22:39] mizunashi opened #285 "NEM Wallet Upgrade latest news"
It is currently written in Japanese as follows.

the latest news
1. 韓国語を追加
2. URL機能を追加する

If this is the case, there are problems in Japanese, so please fix as follows.

the latest news
1.韓国語を追加
**2.URL機能の追加**

Thank you.

[2017-11-22 10:31] tadas-subonis opened #286 "Please fix design for account management"
I just logged in and I've used my previous sender's address as MY address to add current and thus it's gone.

Please make it obvious that the first address you see is not your account but your last sender address. That's super confusing especially since there was only a single transaction on that specific wallet.

[2017-11-26 19:45] ryuta46 opened #287 "App crashes without CONTACTS permission."
Everytime when I log in my account without CONTACTS permission, the app crashes and sends a crash report.

This is not reproduced in case I permit CONTACTS access in settings of Android OS.

* OS version: Android 7.0
* App version: 1.0.70 (installed from google play)
* Device: ASUS_Z017DA (ASUS Zenfone3)

I got following logs when the app crashes. Does this app try to access the address book in my

[2017-12-02 04:08] nissimpradhan opened #288 "Ask for permission on demand"
Issue Type:
[  ] - Bug
[X] - Feature Request

Problem:
App asks for 3 permissions on startup without a reason for such permissions namely
1) Read/write files to device
2) Camera
3) Contacts
I wouldn't feel comfortable giving it such permissions straight away on startup. Denying it causes many problems

Solution:
Ask permissions on demand is the best way to get users to trust this app.

Collateral

[2017-12-11 14:07] herveulrich opened #289 "NEM Client crashed, sending Report..."
I was using my Nem Wallet+ without any problem, till the day I decided to buy some.
I did some change of one of my crypto currency with changelly.com to acquire some NEM.
The transfer worked very well and when starting my NEM Wallet I can see that the amoung is correctly shown, but just 1 second after it automatically close the App saying : **NEM Client crashed, sending Report.
Please help I don't

[2017-12-12 13:52] #249 closed

[2017-12-12 14:19] jabo38 commented on #276
Bounty paid tx hash: d118db1e8bd7ff433462e30e1da335a3acc08793c80a8e8f9eca684dbfd56cdf

[2017-12-12 14:19] #276 closed

[2017-12-12 14:21] jabo38 commented on #277
Bounty paid. tx hash: cee406d74366b3f90fc925ce13f79f05b81c73a2c066f479cf26cfb903524103

[2017-12-15 13:26] MLachm commented on #289
I got exactly the same problem. First time sending money over. Crashes directly after getting in (using password or fingerprint). Shows account and the amount then crashes after sending _NEM Client crashed, sending Report._

[2017-12-15 18:58] herveulrich commented on #289
What I can advise here is to not uninstall... After 3 Weeks I was able to start correctly the App I then quickly make a screenshot of my Private key and The QR Scan for account export, I am not even able to setup access my account from other devices.
I have my 175 NEM back

[2017-12-16 12:27] MLachm commented on #289
Thanks for your advise! I read somewhere that people whom accounts had the
same problem tried 2 reinstall the app and lost everything so i decided not
to do that and wait it out. Hopefully the next update will make it able for
me to see the private key and QR scan.

About your access... Did u try the Windows/Mac Nanowallet? I haven't been
able to try it yet (I don't have my private-key) but there

[2017-12-24 04:15] voltshocked opened #290 "Nem android wallet and wechat nem wallet"
I tested both and tried exporting using qr code but after i export, the address on both apps is different.

This is on both ways, from nem wallet to wechat wallet and vice versa same problem

NAAA5J-BAENR6-L3LBIB-E7UFDL-SA45NL-VML6QW-WLCW

[2018-01-07 17:07] cryptoBeliever commented on #288
Please do this! Most of negative app reviews are about app crashing because lack of permissions.

[2018-01-08 00:42] s4y3f opened #291 "Blocked button while importing the private key"
## Address:
NAMXNG-HZAOHM-GMJOPR-536BV7-HXTL53-3JXKJS-XWNI

## Description:
While importing a Private key though " **Add Account > Enter Key** " and entering a wrong private key in the first place (waiting until it says 'Invalid private key') , and then entering the second one as the correct private key, the create button **blocked** and the user can no longer enter his private key.
here is attach

[2018-01-08 01:10] #291 closed

[2018-01-10 15:27] Hamdiovish commented on #283
Issue solved in the pull #282.

[2018-01-10 15:27] #283 closed

[2018-01-10 16:34] Hamdiovish commented on #288
@jabo38 can i take care of this?

[2018-01-11 16:23] MisterYuriy8 opened #293 "Ошибка Андроид кошелька"
Здравствуйте. Я скачал Андроид кошелек NEM. С биржы отправил 50 монет и они пришли. Затем друг скачал себе Андроид кошелек и я отправил ему монету. В итоге у меня 49, у него 0. Затем я остаток монет отправил на биржу  и указал специальный код. В итоге у меня 0 и на бирже 0. Мой адрес кошелька NC4IY2-U2VL2C-TY2QLE-P7M7HO-3T2EXF-33L7Z4-WOIJ     Проверьте пожалуйста. С уважением Юрий

[2018-01-12 09:16] nemster opened #294 "Outgoing multisigned transactions show as incoming"
I have one of the cosigner of a multisigned account of my android wallet.

Outgoing transactions from the multisigned account are green and have a + sign as it they were incoming.

[2018-01-13 22:08] genus1 opened #296 "QR code reading in Adroid wallet"
When Android wallet reads qr codes it will not read below 0.01 XEM and if using type2 it automatically generates message as encrypted.  This is why exchanges cannot read message.

[2018-01-13 22:11] cryptoBeliever commented on #296
So we have here two bugs:
- each invoice generated by Android wallet is loaded with encrypted message
- when I generate invoice for value 0.01 XEM (probably below also) amount is not loaded

Please fix these two issues with loading QR codes.
Spectrocoin.com has many problems because of that because users sends encrypted messages!

[2018-01-15 00:30] mizunashi commented on #296
@genus1
I also confirmed a similar phenomenon.
Two problems were reported directly to developers.

[2018-01-21 05:16] nemunemu1 opened #297 "NEM hasn't received into NEM Wallet+ yet."
700 XEM hasn't been received into my NEM Wallet +, Andorid yet.
I sent it from poloniex, and it says it's been completed.

2018-01-06 15:22:59
Address: NAGJG3-QFWYZ3-7LMI7I-QPSGQN-YADGSJ-ZGJRD2-DIYA
Txid: 304a99d1729d50671c5e0e8c3b03fbbabad7feae34554fd11c25b185695bd571

What would be the problem?

Thanks for any help in advance.

[2018-04-11 19:37] kekkyojin commented on #236
Maybe are you running Android API 15 (Android 4.0.x), @Qrysto?

[2018-04-11 23:04] kekkyojin commented on #261
Android has always had a permission system. It was only with API 23 that it was possible to restrict which permissions one specific app had access to.

Ok. I could try to fix this bug. What do you want to happen instead of a crash: a toast to be shown?

[2018-04-16 14:05] kekkyojin commented on #280
This one?

![screenshot_2018-04-16-15-55-29](https://user-images.githubusercontent.com/4984239/38813509-605df3ca-418f-11e8-98c8-05b53c327281.png)

It is currently appearing.

[2018-05-11 15:54] fyahfox commented on #290
Hi @voltshocked thank you for the report. Can you please provide more information? Example with screenshots would be very helpful. Thanks!

[2018-05-11 18:31] fyahfox commented on #296
Bounty paid. Tx hash: 2b71e9ab0ecfbdacd12137f0307e57eb1ae9443d217dd6b78dc09cd52acd4657

[2018-05-13 07:12] cryptoBeliever opened #302 "Dot as separator casues wrong value send"
This is very similar to but more criticial:
https://github.com/NemProject/NEMiOSApp/issues/308

When you put in amount field value with dot separator like:
0.2222 app is trying to send 2222 XEM

This is critical bug in my opinion.

[2018-05-25 21:31] alexjavabraz opened #303 "Error when exporting account via qr code"
I installed the app and  created a new account :
![screenshot_20180525-174729_nem wallet](https://user-images.githubusercontent.com/14118998/40566924-6e99da98-6049-11e8-87e4-0b7d563060b1.jpg)

Navigated into that account:
![screenshot_20180525-174734_nem wallet](https://user-images.githubusercontent.com/14118998/40566939-82d93c24-6049-11e8-95c8-0ebb09506ed7.jpg)

I clicked in 'Export Account' opti

[2018-05-27 16:50] kekkyojin commented on #303
Please check if you have granted Write permission to NEM Wallet+ app.

[2018-06-04 15:28] EvertonMelo commented on #12
@fyahfox

What is the status of this, do you need help?

[2018-06-04 15:38] EvertonMelo commented on #12
@fyahfox

What is the status of this, do you need help?

[2018-06-04 15:39] EvertonMelo commented on #293
@MisterYuriy8

We need more information,
please let us know Android version.
height of the block.

[2018-06-04 16:01] EvertonMelo commented on #284
@mizunashi
I think we have to move this topic to NanoWallet.

[2018-06-06 11:36] nemster commented on #294
Android 7.0 on Huawei P9 Lite

NEM Wallet 1.0.72_mainnet(111)

I have a 2 of 3 multisig account; one of the tree cosigners is on my android wallet.
I create an outgoing transaction on another device, I confirm the transaction from the android NEM wallet.
The transaction appears in the wallet history with a + sign even if it was an outgoing transaction.

[2018-06-06 11:44] EvertonMelo commented on #294
@nemster

Great!

let's go with for little steps ok?

I you have 2 of 3 multsig account with your NemAndroid Wallet ok?

( example other NemadroidWallet ou NanoWallet with Desktop, explait more for ti please. )

( you NamAdroid Wallet or other too multsig? )

I began to suspect that there is incompatibility between some versions of the multsig.

[2018-06-06 11:51] nemster commented on #294
Yes, first cosigner was NanoWallet; I sent the transaction from it.

I open NemAndroid Wallet, select the cosigner account, and it tells me there's a transaction waiting for my signature.

I sign the transaction and it appears with the + sign

[2018-06-06 12:07] EvertonMelo commented on #294
@nemster

I need the data from Nanowallet: version, Built;

I see that there is an incompatibility between some transactions between:
nanowallet, Nemandroid, NemIOSapp.

could you do a test using only Nanowallet?
that is, one installation creates the transaction other than the other.

@saulgray @gimer

Can you confirm that this is the case?

[2018-06-12 11:54] nemster commented on #294
Initiator was NanoWallet 1.4.13

[2018-06-12 16:16] EvertonMelo commented on #294
@nemster

the NanoWallet 1.4.13 not support Multsign:

# **Changelog NanoWallet** 1.4.13:

    Allow sub-namespaces and mosaic names to start with a number
    Fix secondary accounts: In occasional cases, secondary accounts private keys can start with '00' but BIP32 was omitting it, giving a 62 characters private key. Those secondary accounts will fail to send anything out even if password is vali

[2018-06-14 07:06] nonyetex opened #308 "NEM send but not receive."
Please i transferred 232 XEM from my NEM  wallet address: NC4RWI-FFRJKP-DAYKOE-QLA7D3-3EMGIA-4EZIJT-V5JB to my coinpayment it shows that it has send from my wallet but coinpayment did not receive it. Please what happened to my fund and how do i get it back,
My email : nonyetrc@gmail.com

[2018-06-15 17:03] fyahfox commented on #12
Sorry, I don't know since I'm not developing any code.

[2018-06-15 21:03] EvertonMelo commented on #12
@fyahfox

What do you think about separating projects?

https://github.com/NemProject/NEMAndroidApp/projects

[2018-06-16 09:05] kekkyojin commented on #308
CoinPayment did receive your NEM. Your transaction [was completed](http://explorer.nemchina.com/#/s_tx?hash=bb149e29b6d10877792f21c65518248c1b570bc30119babdfedc80d4ddcd4384) . You must complain about it to CoinPayments.

(Also, I would not be posting anywhere your email address, as it could be used to try to hack your account)

[2018-06-30 09:33] #274 closed

[2018-07-29 09:14] cryptoBeliever commented on #308
As I understand this is your transaction:
http://chain.nem.ninja/#/transfer/bb149e29b6d10877792f21c65518248c1b570bc30119babdfedc80d4ddcd4384
Message is incorrect (great! instead of message code). You should contact with Coinpayments provide transaction hash and ask for manually credit your transaction.

[2018-09-10 20:12] cryptoBeliever commented on #297
Probably you already know but message is incorrect. Please contact with Zaif support, provide transaction hash and they should credit manually.

[2018-09-26 15:02] mediaprogramer opened #310 "signature failed when I try to multisig delegate harvest"
we have cold wallet.
my friend genarated delegate harvest transaction.
and asked me to sign the transaction.

I would  sign the transaction by NEMAndroidApp.
but every time it was failed(Application shout down)
now, I could by NanoWallet.

could you please check this.

my address is NBZNQL2JDWTGUAW237PXV4SSXSPORY43GUSWGSB7
multisig tx is 337d9d08be9ca2e4f14164169fe111c25a04f45d6ba2ee45eae223ed1bf6

[2018-09-26 15:27] TonyCrypto commented on #310
NEMAndroidApp does not provide the option for signing the importance transaction using multisig.
The only way of doing it now is to export account from your mobile phone to NanoWallet and signing it there.

[2018-09-26 15:47] mediaprogramer commented on #310
ok, thank you very much!

[2019-02-25 23:40] luke-park opened #311 "Mcrypto uses a fixed IV."
In [this code](https://github.com/NemProject/NEMAndroidApp/blob/master/app/src/main/java/org/nem/nac/crypto/Mcrypto.java), a fixed IV is used.  Obviously this is insecure and should be fixed.

[2019-06-21 00:27] #271 closed

[2019-06-21 00:27] #277 closed